PANDAS

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        'Nome': ['Talles', 'Raquel', 'Luna'],
        'Idade': [21, 22, 3],
        'Sexo': ['Homem', 'Mulher',' Mulher']
    }
)

In [3]:
print(df)

     Nome  Idade     Sexo
0  Talles     21    Homem
1  Raquel     22   Mulher
2    Luna      3   Mulher

Series
Um pandas Series não tem rótulos de coluna, pois é apenas uma única coluna de um arquivo Data Frame. Uma série tem rótulos de linha.

In [4]:
idade_series = pd.Series([21, 22, 3], name='Idade')
idade_series

0    21
1    22
2     3
Name: Idade, dtype: int64

Manipulando um dataframe ou uma Series

In [8]:
# max
print(df['Idade'].max()) 
#min
print(df['Idade'].min())
# média
print(round(df['Idade'].mean(), 2))
# desvio padrao
print(df['Idade'].std())

22
3
15.33
10.692676621563626

In [9]:
df['Idade'].describe()

count     3.000000
mean     15.333333
std      10.692677
min       3.000000
25%      12.000000
50%      21.000000
75%      21.500000
max      22.000000
Name: Idade, dtype: float64

In [11]:
df['Idade'] * 1.5

0    31.5
1    33.0
2     4.5
Name: Idade, dtype: float64

Leitura e Escrita de Dados Tabulares

In [23]:
dataframe = pd.read_csv(r'C:\data_science\desafios\deafio_pratico_3\desafio_pratico_3.csv')
dataframe

    ID_Produto    Categoria  Preco_R$  Quantidade_Vendida  Data_Venda
0          101  Eletrônicos      2500                   5  2024-01-05
1          102  Eletrônicos      2200                   8  2024-01-07
2          103         Moda       150                  25  2024-02-01
3          104         Moda       200                  18  2024-02-15
4          105       Beleza        90                  32  2024-03-10
5          106       Beleza       120                  28  2024-03-22
6          107     Esportes       300                  15  2024-04-05
7          108     Esportes       280                  20  2024-04-12
8          109  Eletrônicos      2100                  10  2024-05-05
9          110         Casa       450                  12  2024-05-18
10         111  Eletrônicos      1800                   7  2024-06-01
11         112  Eletrônicos      2600                   3  2024-06-10
12         113       Beleza       110                  25  2024-07-02
13         114     Esportes       320                  22  2024-07-15
14         115         Moda       170                  30  2024-08-08
15         116         Casa       500                  14  2024-08-20
16         117  Eletrônicos      1900                   9  2024-09-05
17         118     Esportes       290                  18  2024-09-17
18         119       Beleza       105                  27  2024-10-03
19         120         Moda       160                  26  2024-10-15
20         121  Eletrônicos      2300                   6  2024-11-02
21         122         Casa       550                  11  2024-11-18
22         123     Esportes       310                  21  2024-12-01
23         124       Beleza        95                  30  2024-12-15
24         125         Moda       140                  28  2025-01-05
25         126  Eletrônicos      2000                   7  2025-01-18
26         127     Esportes       270                  19  2025-02-07
27         128         Casa       480                  13  2025-02-20
28         129       Beleza       115                  29  2025-03-06
29         130  Eletrônicos      1700                   8  2025-03-19
30         131         Moda       180                  24  2025-04-10
31         132     Esportes       330                  16  2025-04-25
32         133       Beleza       100                  31  2025-05-09
33         134         Casa       470                  15  2025-05-22
34         135  Eletrônicos      2400                   4  2025-06-12
35         136         Moda       155                  27  2025-06-25
36         137       Beleza       125                  26  2025-07-10
37         138     Esportes       340                  17  2025-07-22
38         139         Casa       510                  10  2025-08-05
39         140  Eletrônicos      2200                   6  2025-08-19
40         141         Moda       145                  29  2025-09-03
41         142       Beleza       130                  25  2025-09-16
42         143     Esportes       280                  23  2025-10-08
43         144         Casa       460                  12  2025-10-22
44         145  Eletrônicos      2100                   9  2025-11-05
45         146         Moda       165                  22  2025-11-18
46         147       Beleza       120                  28  2025-12-02
47         148     Esportes       300                  20  2025-12-15
48         149         Casa       490                  14  2026-01-01
49         150  Eletrônicos      2300                   5  2026-01-15

In [24]:
dataframe.columns = ['id_produto', 'categoria', 'valor', 'quantidade', 'data']
dataframe

    id_produto    categoria  valor  quantidade        data
0          101  Eletrônicos   2500           5  2024-01-05
1          102  Eletrônicos   2200           8  2024-01-07
2          103         Moda    150          25  2024-02-01
3          104         Moda    200          18  2024-02-15
4          105       Beleza     90          32  2024-03-10
5          106       Beleza    120          28  2024-03-22
6          107     Esportes    300          15  2024-04-05
7          108     Esportes    280          20  2024-04-12
8          109  Eletrônicos   2100          10  2024-05-05
9          110         Casa    450          12  2024-05-18
10         111  Eletrônicos   1800           7  2024-06-01
11         112  Eletrônicos   2600           3  2024-06-10
12         113       Beleza    110          25  2024-07-02
13         114     Esportes    320          22  2024-07-15
14         115         Moda    170          30  2024-08-08
15         116         Casa    500          14  2024-08-20
16         117  Eletrônicos   1900           9  2024-09-05
17         118     Esportes    290          18  2024-09-17
18         119       Beleza    105          27  2024-10-03
19         120         Moda    160          26  2024-10-15
20         121  Eletrônicos   2300           6  2024-11-02
21         122         Casa    550          11  2024-11-18
22         123     Esportes    310          21  2024-12-01
23         124       Beleza     95          30  2024-12-15
24         125         Moda    140          28  2025-01-05
25         126  Eletrônicos   2000           7  2025-01-18
26         127     Esportes    270          19  2025-02-07
27         128         Casa    480          13  2025-02-20
28         129       Beleza    115          29  2025-03-06
29         130  Eletrônicos   1700           8  2025-03-19
30         131         Moda    180          24  2025-04-10
31         132     Esportes    330          16  2025-04-25
32         133       Beleza    100          31  2025-05-09
33         134         Casa    470          15  2025-05-22
34         135  Eletrônicos   2400           4  2025-06-12
35         136         Moda    155          27  2025-06-25
36         137       Beleza    125          26  2025-07-10
37         138     Esportes    340          17  2025-07-22
38         139         Casa    510          10  2025-08-05
39         140  Eletrônicos   2200           6  2025-08-19
40         141         Moda    145          29  2025-09-03
41         142       Beleza    130          25  2025-09-16
42         143     Esportes    280          23  2025-10-08
43         144         Casa    460          12  2025-10-22
44         145  Eletrônicos   2100           9  2025-11-05
45         146         Moda    165          22  2025-11-18
46         147       Beleza    120          28  2025-12-02
47         148     Esportes    300          20  2025-12-15
48         149         Casa    490          14  2026-01-01
49         150  Eletrônicos   2300           5  2026-01-15

In [25]:
dataframe = dataframe.drop('id_produto', axis=1)

In [26]:
dataframe

      categoria  valor  quantidade        data
0   Eletrônicos   2500           5  2024-01-05
1   Eletrônicos   2200           8  2024-01-07
2          Moda    150          25  2024-02-01
3          Moda    200          18  2024-02-15
4        Beleza     90          32  2024-03-10
5        Beleza    120          28  2024-03-22
6      Esportes    300          15  2024-04-05
7      Esportes    280          20  2024-04-12
8   Eletrônicos   2100          10  2024-05-05
9          Casa    450          12  2024-05-18
10  Eletrônicos   1800           7  2024-06-01
11  Eletrônicos   2600           3  2024-06-10
12       Beleza    110          25  2024-07-02
13     Esportes    320          22  2024-07-15
14         Moda    170          30  2024-08-08
15         Casa    500          14  2024-08-20
16  Eletrônicos   1900           9  2024-09-05
17     Esportes    290          18  2024-09-17
18       Beleza    105          27  2024-10-03
19         Moda    160          26  2024-10-15
20  Eletrônicos   2300           6  2024-11-02
21         Casa    550          11  2024-11-18
22     Esportes    310          21  2024-12-01
23       Beleza     95          30  2024-12-15
24         Moda    140          28  2025-01-05
25  Eletrônicos   2000           7  2025-01-18
26     Esportes    270          19  2025-02-07
27         Casa    480          13  2025-02-20
28       Beleza    115          29  2025-03-06
29  Eletrônicos   1700           8  2025-03-19
30         Moda    180          24  2025-04-10
31     Esportes    330          16  2025-04-25
32       Beleza    100          31  2025-05-09
33         Casa    470          15  2025-05-22
34  Eletrônicos   2400           4  2025-06-12
35         Moda    155          27  2025-06-25
36       Beleza    125          26  2025-07-10
37     Esportes    340          17  2025-07-22
38         Casa    510          10  2025-08-05
39  Eletrônicos   2200           6  2025-08-19
40         Moda    145          29  2025-09-03
41       Beleza    130          25  2025-09-16
42     Esportes    280          23  2025-10-08
43         Casa    460          12  2025-10-22
44  Eletrônicos   2100           9  2025-11-05
45         Moda    165          22  2025-11-18
46       Beleza    120          28  2025-12-02
47     Esportes    300          20  2025-12-15
48         Casa    490          14  2026-01-01
49  Eletrônicos   2300           5  2026-01-15

In [27]:
dataframe.head(10)

     categoria  valor  quantidade        data
0  Eletrônicos   2500           5  2024-01-05
1  Eletrônicos   2200           8  2024-01-07
2         Moda    150          25  2024-02-01
3         Moda    200          18  2024-02-15
4       Beleza     90          32  2024-03-10
5       Beleza    120          28  2024-03-22
6     Esportes    300          15  2024-04-05
7     Esportes    280          20  2024-04-12
8  Eletrônicos   2100          10  2024-05-05
9         Casa    450          12  2024-05-18

In [28]:
dataframe.tail(10)

      categoria  valor  quantidade        data
40         Moda    145          29  2025-09-03
41       Beleza    130          25  2025-09-16
42     Esportes    280          23  2025-10-08
43         Casa    460          12  2025-10-22
44  Eletrônicos   2100           9  2025-11-05
45         Moda    165          22  2025-11-18
46       Beleza    120          28  2025-12-02
47     Esportes    300          20  2025-12-15
48         Casa    490          14  2026-01-01
49  Eletrônicos   2300           5  2026-01-15

In [29]:
dataframe.dtypes

categoria     object
valor          int64
quantidade     int64
data          object
dtype: object

In [31]:
dataframe['data'] = dataframe['data'].str.replace('-', '/')

In [33]:
dataframe['valor'] = dataframe['valor'].astype(float)

In [34]:
dataframe

      categoria   valor  quantidade        data
0   Eletrônicos  2500.0           5  2024/01/05
1   Eletrônicos  2200.0           8  2024/01/07
2          Moda   150.0          25  2024/02/01
3          Moda   200.0          18  2024/02/15
4        Beleza    90.0          32  2024/03/10
5        Beleza   120.0          28  2024/03/22
6      Esportes   300.0          15  2024/04/05
7      Esportes   280.0          20  2024/04/12
8   Eletrônicos  2100.0          10  2024/05/05
9          Casa   450.0          12  2024/05/18
10  Eletrônicos  1800.0           7  2024/06/01
11  Eletrônicos  2600.0           3  2024/06/10
12       Beleza   110.0          25  2024/07/02
13     Esportes   320.0          22  2024/07/15
14         Moda   170.0          30  2024/08/08
15         Casa   500.0          14  2024/08/20
16  Eletrônicos  1900.0           9  2024/09/05
17     Esportes   290.0          18  2024/09/17
18       Beleza   105.0          27  2024/10/03
19         Moda   160.0          26  2024/10/15
20  Eletrônicos  2300.0           6  2024/11/02
21         Casa   550.0          11  2024/11/18
22     Esportes   310.0          21  2024/12/01
23       Beleza    95.0          30  2024/12/15
24         Moda   140.0          28  2025/01/05
25  Eletrônicos  2000.0           7  2025/01/18
26     Esportes   270.0          19  2025/02/07
27         Casa   480.0          13  2025/02/20
28       Beleza   115.0          29  2025/03/06
29  Eletrônicos  1700.0           8  2025/03/19
30         Moda   180.0          24  2025/04/10
31     Esportes   330.0          16  2025/04/25
32       Beleza   100.0          31  2025/05/09
33         Casa   470.0          15  2025/05/22
34  Eletrônicos  2400.0           4  2025/06/12
35         Moda   155.0          27  2025/06/25
36       Beleza   125.0          26  2025/07/10
37     Esportes   340.0          17  2025/07/22
38         Casa   510.0          10  2025/08/05
39  Eletrônicos  2200.0           6  2025/08/19
40         Moda   145.0          29  2025/09/03
41       Beleza   130.0          25  2025/09/16
42     Esportes   280.0          23  2025/10/08
43         Casa   460.0          12  2025/10/22
44  Eletrônicos  2100.0           9  2025/11/05
45         Moda   165.0          22  2025/11/18
46       Beleza   120.0          28  2025/12/02
47     Esportes   300.0          20  2025/12/15
48         Casa   490.0          14  2026/01/01
49  Eletrônicos  2300.0           5  2026/01/15

Subconjuntos em Dataframe

In [35]:
dataframe.shape

(50, 4)

In [36]:
dataframe[['categoria', 'valor']]

      categoria   valor
0   Eletrônicos  2500.0
1   Eletrônicos  2200.0
2          Moda   150.0
3          Moda   200.0
4        Beleza    90.0
5        Beleza   120.0
6      Esportes   300.0
7      Esportes   280.0
8   Eletrônicos  2100.0
9          Casa   450.0
10  Eletrônicos  1800.0
11  Eletrônicos  2600.0
12       Beleza   110.0
13     Esportes   320.0
14         Moda   170.0
15         Casa   500.0
16  Eletrônicos  1900.0
17     Esportes   290.0
18       Beleza   105.0
19         Moda   160.0
20  Eletrônicos  2300.0
21         Casa   550.0
22     Esportes   310.0
23       Beleza    95.0
24         Moda   140.0
25  Eletrônicos  2000.0
26     Esportes   270.0
27         Casa   480.0
28       Beleza   115.0
29  Eletrônicos  1700.0
30         Moda   180.0
31     Esportes   330.0
32       Beleza   100.0
33         Casa   470.0
34  Eletrônicos  2400.0
35         Moda   155.0
36       Beleza   125.0
37     Esportes   340.0
38         Casa   510.0
39  Eletrônicos  2200.0
40         Moda   145.0
41       Beleza   130.0
42     Esportes   280.0
43         Casa   460.0
44  Eletrônicos  2100.0
45         Moda   165.0
46       Beleza   120.0
47     Esportes   300.0
48         Casa   490.0
49  Eletrônicos  2300.0

In [40]:
dataframe[dataframe['valor'] >= 1000]

      categoria   valor  quantidade        data
0   Eletrônicos  2500.0           5  2024/01/05
1   Eletrônicos  2200.0           8  2024/01/07
8   Eletrônicos  2100.0          10  2024/05/05
10  Eletrônicos  1800.0           7  2024/06/01
11  Eletrônicos  2600.0           3  2024/06/10
16  Eletrônicos  1900.0           9  2024/09/05
20  Eletrônicos  2300.0           6  2024/11/02
25  Eletrônicos  2000.0           7  2025/01/18
29  Eletrônicos  1700.0           8  2025/03/19
34  Eletrônicos  2400.0           4  2025/06/12
39  Eletrônicos  2200.0           6  2025/08/19
44  Eletrônicos  2100.0           9  2025/11/05
49  Eletrônicos  2300.0           5  2026/01/15

In [ ]:
# exclui linhas vazias
dataframe[dataframe['valor'].notna()]

In [45]:
dataframe.iloc[0:5, 0:3] # linha / coluna

     categoria   valor  quantidade
0  Eletrônicos  2500.0           5
1  Eletrônicos  2200.0           8
2         Moda   150.0          25
3         Moda   200.0          18
4       Beleza    90.0          32

In [48]:
dataframe.iloc[1:2, 0:1] = 'NaN'

In [49]:
dataframe

      categoria   valor quantidade        data
0   Eletrônicos  2500.0          5  2024/01/05
1           NaN     NaN        NaN         NaN
2          Moda   150.0         25  2024/02/01
3          Moda   200.0         18  2024/02/15
4        Beleza    90.0         32  2024/03/10
5        Beleza   120.0         28  2024/03/22
6      Esportes   300.0         15  2024/04/05
7      Esportes   280.0         20  2024/04/12
8   Eletrônicos  2100.0         10  2024/05/05
9          Casa   450.0         12  2024/05/18
10  Eletrônicos  1800.0          7  2024/06/01
11  Eletrônicos  2600.0          3  2024/06/10
12       Beleza   110.0         25  2024/07/02
13     Esportes   320.0         22  2024/07/15
14         Moda   170.0         30  2024/08/08
15         Casa   500.0         14  2024/08/20
16  Eletrônicos  1900.0          9  2024/09/05
17     Esportes   290.0         18  2024/09/17
18       Beleza   105.0         27  2024/10/03
19         Moda   160.0         26  2024/10/15
20  Eletrônicos  2300.0          6  2024/11/02
21         Casa   550.0         11  2024/11/18
22     Esportes   310.0         21  2024/12/01
23       Beleza    95.0         30  2024/12/15
24         Moda   140.0         28  2025/01/05
25  Eletrônicos  2000.0          7  2025/01/18
26     Esportes   270.0         19  2025/02/07
27         Casa   480.0         13  2025/02/20
28       Beleza   115.0         29  2025/03/06
29  Eletrônicos  1700.0          8  2025/03/19
30         Moda   180.0         24  2025/04/10
31     Esportes   330.0         16  2025/04/25
32       Beleza   100.0         31  2025/05/09
33         Casa   470.0         15  2025/05/22
34  Eletrônicos  2400.0          4  2025/06/12
35         Moda   155.0         27  2025/06/25
36       Beleza   125.0         26  2025/07/10
37     Esportes   340.0         17  2025/07/22
38         Casa   510.0         10  2025/08/05
39  Eletrônicos  2200.0          6  2025/08/19
40         Moda   145.0         29  2025/09/03
41       Beleza   130.0         25  2025/09/16
42     Esportes   280.0         23  2025/10/08
43         Casa   460.0         12  2025/10/22
44  Eletrônicos  2100.0          9  2025/11/05
45         Moda   165.0         22  2025/11/18
46       Beleza   120.0         28  2025/12/02
47     Esportes   300.0         20  2025/12/15
48         Casa   490.0         14  2026/01/01
49  Eletrônicos  2300.0          5  2026/01/15

In [68]:
dataframe = dataframe.drop(index=1)

Criar Novas Colunas e Manipular Dados Algebricamente

In [69]:
dataframe['valor'] = dataframe['valor'].astype(float)

In [79]:
dataframe.dtypes

categoria      object
valor         float64
quantidade      int64
data           object
juros         float64
dtype: object

In [70]:
dataframe['valor_com_juros'] = dataframe['valor'] * 1.1

In [71]:
dataframe

      categoria   valor quantidade        data  valor_com_juros
0   Eletrônicos  2500.0          5  2024/01/05           2750.0
2          Moda   150.0         25  2024/02/01            165.0
3          Moda   200.0         18  2024/02/15            220.0
4        Beleza    90.0         32  2024/03/10             99.0
5        Beleza   120.0         28  2024/03/22            132.0
6      Esportes   300.0         15  2024/04/05            330.0
7      Esportes   280.0         20  2024/04/12            308.0
8   Eletrônicos  2100.0         10  2024/05/05           2310.0
9          Casa   450.0         12  2024/05/18            495.0
10  Eletrônicos  1800.0          7  2024/06/01           1980.0
11  Eletrônicos  2600.0          3  2024/06/10           2860.0
12       Beleza   110.0         25  2024/07/02            121.0
13     Esportes   320.0         22  2024/07/15            352.0
14         Moda   170.0         30  2024/08/08            187.0
15         Casa   500.0         14  2024/08/20            550.0
16  Eletrônicos  1900.0          9  2024/09/05           2090.0
17     Esportes   290.0         18  2024/09/17            319.0
18       Beleza   105.0         27  2024/10/03            115.5
19         Moda   160.0         26  2024/10/15            176.0
20  Eletrônicos  2300.0          6  2024/11/02           2530.0
21         Casa   550.0         11  2024/11/18            605.0
22     Esportes   310.0         21  2024/12/01            341.0
23       Beleza    95.0         30  2024/12/15            104.5
24         Moda   140.0         28  2025/01/05            154.0
25  Eletrônicos  2000.0          7  2025/01/18           2200.0
26     Esportes   270.0         19  2025/02/07            297.0
27         Casa   480.0         13  2025/02/20            528.0
28       Beleza   115.0         29  2025/03/06            126.5
29  Eletrônicos  1700.0          8  2025/03/19           1870.0
30         Moda   180.0         24  2025/04/10            198.0
31     Esportes   330.0         16  2025/04/25            363.0
32       Beleza   100.0         31  2025/05/09            110.0
33         Casa   470.0         15  2025/05/22            517.0
34  Eletrônicos  2400.0          4  2025/06/12           2640.0
35         Moda   155.0         27  2025/06/25            170.5
36       Beleza   125.0         26  2025/07/10            137.5
37     Esportes   340.0         17  2025/07/22            374.0
38         Casa   510.0         10  2025/08/05            561.0
39  Eletrônicos  2200.0          6  2025/08/19           2420.0
40         Moda   145.0         29  2025/09/03            159.5
41       Beleza   130.0         25  2025/09/16            143.0
42     Esportes   280.0         23  2025/10/08            308.0
43         Casa   460.0         12  2025/10/22            506.0
44  Eletrônicos  2100.0          9  2025/11/05           2310.0
45         Moda   165.0         22  2025/11/18            181.5
46       Beleza   120.0         28  2025/12/02            132.0
47     Esportes   300.0         20  2025/12/15            330.0
48         Casa   490.0         14  2026/01/01            539.0
49  Eletrônicos  2300.0          5  2026/01/15           2530.0

In [72]:
dataframe = dataframe.rename(columns={'valor_com_juros': 'juros'})

In [73]:
dataframe

      categoria   valor quantidade        data   juros
0   Eletrônicos  2500.0          5  2024/01/05  2750.0
2          Moda   150.0         25  2024/02/01   165.0
3          Moda   200.0         18  2024/02/15   220.0
4        Beleza    90.0         32  2024/03/10    99.0
5        Beleza   120.0         28  2024/03/22   132.0
6      Esportes   300.0         15  2024/04/05   330.0
7      Esportes   280.0         20  2024/04/12   308.0
8   Eletrônicos  2100.0         10  2024/05/05  2310.0
9          Casa   450.0         12  2024/05/18   495.0
10  Eletrônicos  1800.0          7  2024/06/01  1980.0
11  Eletrônicos  2600.0          3  2024/06/10  2860.0
12       Beleza   110.0         25  2024/07/02   121.0
13     Esportes   320.0         22  2024/07/15   352.0
14         Moda   170.0         30  2024/08/08   187.0
15         Casa   500.0         14  2024/08/20   550.0
16  Eletrônicos  1900.0          9  2024/09/05  2090.0
17     Esportes   290.0         18  2024/09/17   319.0
18       Beleza   105.0         27  2024/10/03   115.5
19         Moda   160.0         26  2024/10/15   176.0
20  Eletrônicos  2300.0          6  2024/11/02  2530.0
21         Casa   550.0         11  2024/11/18   605.0
22     Esportes   310.0         21  2024/12/01   341.0
23       Beleza    95.0         30  2024/12/15   104.5
24         Moda   140.0         28  2025/01/05   154.0
25  Eletrônicos  2000.0          7  2025/01/18  2200.0
26     Esportes   270.0         19  2025/02/07   297.0
27         Casa   480.0         13  2025/02/20   528.0
28       Beleza   115.0         29  2025/03/06   126.5
29  Eletrônicos  1700.0          8  2025/03/19  1870.0
30         Moda   180.0         24  2025/04/10   198.0
31     Esportes   330.0         16  2025/04/25   363.0
32       Beleza   100.0         31  2025/05/09   110.0
33         Casa   470.0         15  2025/05/22   517.0
34  Eletrônicos  2400.0          4  2025/06/12  2640.0
35         Moda   155.0         27  2025/06/25   170.5
36       Beleza   125.0         26  2025/07/10   137.5
37     Esportes   340.0         17  2025/07/22   374.0
38         Casa   510.0         10  2025/08/05   561.0
39  Eletrônicos  2200.0          6  2025/08/19  2420.0
40         Moda   145.0         29  2025/09/03   159.5
41       Beleza   130.0         25  2025/09/16   143.0
42     Esportes   280.0         23  2025/10/08   308.0
43         Casa   460.0         12  2025/10/22   506.0
44  Eletrônicos  2100.0          9  2025/11/05  2310.0
45         Moda   165.0         22  2025/11/18   181.5
46       Beleza   120.0         28  2025/12/02   132.0
47     Esportes   300.0         20  2025/12/15   330.0
48         Casa   490.0         14  2026/01/01   539.0
49  Eletrônicos  2300.0          5  2026/01/15  2530.0

Usando groupby

In [77]:
dataframe['quantidade'] = dataframe['quantidade'].astype(int)

In [81]:
dataframe.groupby(['categoria']).mean(numeric_only=True)

                   valor  quantidade        juros
categoria
Beleza        111.000000   28.100000   122.100000
Casa          488.750000   12.625000   537.625000
Eletrônicos  2158.333333    6.583333  2374.166667
Esportes      302.000000   19.100000   332.200000
Moda          162.777778   25.444444   179.055556

In [ ]:
dataframe.groupby(['categoria', 'data']).mean(numeric_only=True)

                         valor  quantidade   juros
categoria   data
Beleza      2024/03/10    90.0        32.0    99.0
            2024/03/22   120.0        28.0   132.0
            2024/07/02   110.0        25.0   121.0
            2024/10/03   105.0        27.0   115.5
            2024/12/15    95.0        30.0   104.5
            2025/03/06   115.0        29.0   126.5
            2025/05/09   100.0        31.0   110.0
            2025/07/10   125.0        26.0   137.5
            2025/09/16   130.0        25.0   143.0
            2025/12/02   120.0        28.0   132.0
Casa        2024/05/18   450.0        12.0   495.0
            2024/08/20   500.0        14.0   550.0
            2024/11/18   550.0        11.0   605.0
            2025/02/20   480.0        13.0   528.0
            2025/05/22   470.0        15.0   517.0
            2025/08/05   510.0        10.0   561.0
            2025/10/22   460.0        12.0   506.0
            2026/01/01   490.0        14.0   539.0
Eletrônicos 2024/01/05  2500.0         5.0  2750.0
            2024/05/05  2100.0        10.0  2310.0
            2024/06/01  1800.0         7.0  1980.0
            2024/06/10  2600.0         3.0  2860.0
            2024/09/05  1900.0         9.0  2090.0
            2024/11/02  2300.0         6.0  2530.0
            2025/01/18  2000.0         7.0  2200.0
            2025/03/19  1700.0         8.0  1870.0
            2025/06/12  2400.0         4.0  2640.0
            2025/08/19  2200.0         6.0  2420.0
            2025/11/05  2100.0         9.0  2310.0
            2026/01/15  2300.0         5.0  2530.0
Esportes    2024/04/05   300.0        15.0   330.0
            2024/04/12   280.0        20.0   308.0
            2024/07/15   320.0        22.0   352.0
            2024/09/17   290.0        18.0   319.0
            2024/12/01   310.0        21.0   341.0
            2025/02/07   270.0        19.0   297.0
            2025/04/25   330.0        16.0   363.0
            2025/07/22   340.0        17.0   374.0
            2025/10/08   280.0        23.0   308.0
            2025/12/15   300.0        20.0   330.0
Moda        2024/02/01   150.0        25.0   165.0
            2024/02/15   200.0        18.0   220.0
            2024/08/08   170.0        30.0   187.0
            2024/10/15   160.0        26.0   176.0
            2025/01/05   140.0        28.0   154.0
            2025/04/10   180.0        24.0   198.0
            2025/06/25   155.0        27.0   170.5
            2025/09/03   145.0        29.0   159.5
            2025/11/18   165.0        22.0   181.5

In [83]:
dataframe.groupby(['categoria', 'data']).median(numeric_only=True)

                         valor  quantidade   juros
categoria   data
Beleza      2024/03/10    90.0        32.0    99.0
            2024/03/22   120.0        28.0   132.0
            2024/07/02   110.0        25.0   121.0
            2024/10/03   105.0        27.0   115.5
            2024/12/15    95.0        30.0   104.5
            2025/03/06   115.0        29.0   126.5
            2025/05/09   100.0        31.0   110.0
            2025/07/10   125.0        26.0   137.5
            2025/09/16   130.0        25.0   143.0
            2025/12/02   120.0        28.0   132.0
Casa        2024/05/18   450.0        12.0   495.0
            2024/08/20   500.0        14.0   550.0
            2024/11/18   550.0        11.0   605.0
            2025/02/20   480.0        13.0   528.0
            2025/05/22   470.0        15.0   517.0
            2025/08/05   510.0        10.0   561.0
            2025/10/22   460.0        12.0   506.0
            2026/01/01   490.0        14.0   539.0
Eletrônicos 2024/01/05  2500.0         5.0  2750.0
            2024/05/05  2100.0        10.0  2310.0
            2024/06/01  1800.0         7.0  1980.0
            2024/06/10  2600.0         3.0  2860.0
            2024/09/05  1900.0         9.0  2090.0
            2024/11/02  2300.0         6.0  2530.0
            2025/01/18  2000.0         7.0  2200.0
            2025/03/19  1700.0         8.0  1870.0
            2025/06/12  2400.0         4.0  2640.0
            2025/08/19  2200.0         6.0  2420.0
            2025/11/05  2100.0         9.0  2310.0
            2026/01/15  2300.0         5.0  2530.0
Esportes    2024/04/05   300.0        15.0   330.0
            2024/04/12   280.0        20.0   308.0
            2024/07/15   320.0        22.0   352.0
            2024/09/17   290.0        18.0   319.0
            2024/12/01   310.0        21.0   341.0
            2025/02/07   270.0        19.0   297.0
            2025/04/25   330.0        16.0   363.0
            2025/07/22   340.0        17.0   374.0
            2025/10/08   280.0        23.0   308.0
            2025/12/15   300.0        20.0   330.0
Moda        2024/02/01   150.0        25.0   165.0
            2024/02/15   200.0        18.0   220.0
            2024/08/08   170.0        30.0   187.0
            2024/10/15   160.0        26.0   176.0
            2025/01/05   140.0        28.0   154.0
            2025/04/10   180.0        24.0   198.0
            2025/06/25   155.0        27.0   170.5
            2025/09/03   145.0        29.0   159.5
            2025/11/18   165.0        22.0   181.5